<!DOCTYPE html>

<html lang="en">
    <!--<![endif]-->
    <!-- BEGIN HEAD -->

    <head>
        <meta charset="utf-8" />
        <title>Đánh giá chất lượng phục vụ</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta content="Preview page of Metronic Admin Theme #4 for material design form validation states" name="description" />
        <meta content="" name="author" />
        <!-- BEGIN GLOBAL MANDATORY STYLES -->
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        <link href="assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <link href="assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
        <link href="assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
        <link href="assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
        <link href="assets/global/plugins/bootstrap-markdown/css/bootstrap-markdown.min.css" rel="stylesheet" type="text/css" />
       
        <link href="assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
        <link href="assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
        <!-- END THEME GLOBAL STYLES -->
        <!-- BEGIN THEME LAYOUT STYLES -->
        <link href="assets/layouts/layout4/css/layout.min.css" rel="stylesheet" type="text/css" />
        <link href="assets/layouts/layout4/css/themes/default.min.css" rel="stylesheet" type="text/css" id="style_color" />
        <link href="assets/layouts/layout4/css/custom.min.css" rel="stylesheet" type="text/css" />
        <!-- END THEME LAYOUT STYLES -->
     
    <!-- END HEAD -->
    
	<% if (user) { %>
      <p id="username" hidden><%= user.username %></p>
      <p id="services_id" hidden><%= user.service_id %></p> 
	<% } %>

	<!-- thẻ p trả về -->

	<p id="id" hidden></p>
	<p id="order_id" hidden></p>

	<script src="socket.io.js"></script>
	<script src="jquery.min.js"></script>
	
	<script>
	  var socket = io("http://localhost:3000/");
	  var sk = $("#username").text();
	  
	  socket.on('feedbacks'+sk,function(data)
	    {
			    $("#sttfb").show();
				$("#camon").hide();
				$("#feedbacks").show();
	            $("#id").text(data.id);
				$("#sttfb").text('Đánh giá của khách hàng có số thứ tự là:' + data.order_id);
	
	    });
		socket.on('feedbacks1'+sk,function(data)
	    {	    
            
                $("#feedbacks").hide();	
                $("#camon").show();
                $("#sttfb").hide();
	    });	
	</script>
    <script>
        $(document).ready(function(){
        $("#1").click(function(){
                $("#feedbacks").hide();	
                $("#camon").show();
                var id = $("#id").text();
                var answer =$("#1answer").val();
                $.post('feedbacks/',{_id:id,answer: answer,level: 1}, function(data){
           
                });  
            });
        });

        $(document).ready(function(){
        $("#2").click(function(){
                $("#feedbacks").hide();	
                $("#camon").show();
                var id = $("#id").text();
                var answer =$("#2answer").val();
              
                $.post('feedbacks/',{_id:id,answer: answer,level: 2}, function(data){
           
                });  
            });
        });

        $(document).ready(function(){
        $("#3").click(function(){
                $("#khonghailong").show();
                $("#feedbacks").hide();
               
            });
        }); 
        $(document).ready(function(){
        $("#guidanhgia").click(function(){
                $("#camon").show();
                $("#feedbacks").hide();
                comment_order
                
                var checkbox = document.getElementsByName('answerdetails');
                var answerdetail1 = [];
                 
                // Lặp qua từng checkbox để lấy giá trị
                for (var i = 0; i < checkbox.length; i++){
                    if (checkbox[i].checked == true){
                        answerdetail1.push(checkbox[i].value); 
                    }
                }
             
                var id = $("#id").text();
                var answer =$("#3answer").val();
                var comment_order =$("#comment_order").val();
                
                
                $.post('feedbacks/',{_id:id,answer: answer,level: 3, answerdetails: answerdetail1,comment_order:comment_order}, function(data){
           
                });  
            });
        }); 
    </script>
        
<body class="page-container-bg-solid page-header-fixed page-sidebar-closed-hide-logo">
    <!-- BEGIN HEADER -->
    <div class="page-header navbar navbar-fixed-top row">
        <div class="row">
            <div class="col-sm-3"> 
                <img src="../admin/img/avatar7.png" style="height: auto;width: 119px;" alt="logo" class="logo-default" />
            </div>
            <div class="col-sm-9" style="color: #FFFFFF" > 
                <h4 style="text-align: center;">Cảng Nam Đình Vũ </h4>
                <p style="text-align: center;">Địa chỉ: KCN Nam Đình Vũ, phường Đông Hải 2, quận Hải An, Tp. Hải Phòng</p>
                <p style="text-align: center;">Điện thoại: (84-225) 3 825 961 / 62 / 63 - Fax: (84-225) 3 825 966 / 3 825 977  Email: gmdhaiphong@gemadept.com.vn</p> 
            </div>
        </div>          
    </div>
    <div class="clearfix"> </div>
    <div class="page-container" >
    <div class="note note-success" > 
        <p style="font-size: 25px" id="sttfb"></p>
    </div>
        <div class="page-content-wrapper">
            <div class="row" id="feedbacks" hidden>
            <!-- <div class="row" id="feedbacks" > -->
                <%  answers.forEach(function(answers){ %>
                <div class="col-sm-4">
                    <div class="portlet light portlet-fit bordered">
                        <div class="portlet-title" style="text-align: center; font-size: 25px">
                            <input type="hidden" name="<%= answers._id%>" id="<%= answers.level %>answer" value="<%= answers._id%>">            
                            <span class="caption-subject font-green bold uppercase" style="text-align: center"><%= answers.content %></span>
                        </div>
                        <div class="portlet-body">
                            <div class="mt-element-step">
                                <div class="row step-default">
                                    <div class="col-sm-12"> 
                                        <img style="height: auto;width: 200px; display: block; margin-left: auto; margin-right: auto"  src="../temp/img/<%= answers._id %>.png"  id="<%= answers.level %>" >
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <% }); %>              
            </div>
        </div> 

        <div class="portlet light form-fit bordered" id="khonghailong" hidden>    
        <!-- <div class="portlet light form-fit bordered" id="khonghailong" hidden> -->
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-puzzle font-red"></i>
                    <span class="caption-subject font-red bold uppercase">Đánh giá</span>
                </div>
                
            </div>
            <div class="portlet-body form">
                <form class="form-horizontal form-bordered" >
                    <div class="form-body">
                        <div class="form-group">
                            <label class="control-label col-md-2">Nội dung</label>
                                <div class="col-md-10">
                                    <div class="col-md-9">
                                        <%if(answerdetails){%>
                                            <%for(var i = 0; i < answerdetails.length; i++){ %>
                                            <input type="hidden" name="<%= i%>" id="answers<%= i%>" value="<%= answerdetails[i]._id%>">           
                                            <div class="md-checkbox-list">
                                                <div class="md-checkbox">
                                                <input type="checkbox" name="answerdetails" value="<%= answerdetails[i]._id%>" id="<%= answerdetails[i]._id%>" class="md-check">
                                                    <label for="<%= answerdetails[i]._id%>">
                                                        <span class="inc"></span>
                                                        <span class="check"></span>
                                                        <span class="box"></span> <%= answerdetails[i].content%>  </label>
                                                </div>   
                                            </div>
                                            <%}%>
                                            <%}%>  
                                    </div>
                                </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="control-label col-md-2">Ghi chú</label>
                            <div class="col-md-10">
                                <textarea name="comment_order" id="comment_order" data-provide="markdown" rows="10"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10">
                                    <div class="col-md-2"></div>
                                    <button type="submit" class="btn btn-success" id="guidanhgia">Gửi đánh giá</button>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
        </div>
        

    <div class="portlet light bordered"  id="camon" >
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-social-dribbble font-purple"></i>
                    <span class="caption-subject font-purple bold uppercase">Cảm ơn khách hàng</span>
                </div>
                
            </div>
            <div class="portlet-body" id="camon">
                <div class="well">
                    <p> Công ty Cổ phần Cảng Nam Hải Đình Vũ xin trân trọng gửi lời cảm ơn Quý khách hàng đã tin tưởng lựa chọn và sử dụng các dịch vụ của chúng tôi trong thời gian qua và kính chúc Quý khách hàng nhiều sức khỏe, ngày một thành đạt hơn nữa.</p>
                </div>
                    <div class="well well-large">
                    <p>Những đánh giá của khách hàng sẽ được tiếp nhận và giúp nâng cao chất lượng phục vụ của Công ty</p>
                </div>
            </div>
        </div>
    </div>
    </div>
    
    <div class="page-footer">
        <div class="page-footer-inner"> 2019 &copy; VNNET
            
        </div>
        <div class="scroll-to-top">
            <i class="icon-arrow-up"></i>
        </div>
    </div>

    <script src="assets/global/plugins/bootstrap-markdown/js/bootstrap-markdown.js" type="text/javascript"></script>
    <script src="assets/global/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
    <script src="assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
    <script src="assets/global/scripts/app.min.js" type="text/javascript"></script>
    <script src="assets/layouts/layout4/scripts/layout.min.js" type="text/javascript"></script>
    <script src="assets/layouts/layout4/scripts/demo.min.js" type="text/javascript"></script>
    <script src="assets/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>
    <script src="assets/layouts/global/scripts/quick-nav.min.js" type="text/javascript"></script>
    <!-- END THEME LAYOUT SCRIPTS -->
    
</body>

</html>